<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdkbackendpr.mapper.SdkDataLogMapper">

  <resultMap id="BaseResultMap" type="com.sdkbackendpr.entity.SdkDataLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="ext_text" jdbcType="VARCHAR" property="extText" />
    <result column="is_done" jdbcType="BIT" property="isDone" />
    <result column="mark" jdbcType="VARCHAR" property="mark" />
    <result column="inserttime" jdbcType="TIMESTAMP" property="inserttime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="isactive" jdbcType="BIT" property="isactive" />
  </resultMap>

  <sql id="Base_Column_List">
    id, user_id, ext_text,is_done,mark, inserttime, updatetime, isactive
  </sql>

  <insert id="insertSelectiveReturnPrimaryKey" parameterType="com.sdkbackendpr.entity.SdkDataLog" useGeneratedKeys="true" keyProperty="id">
    insert into tb_sdk_data_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="extText != null and extText!=''">
        ext_text,
      </if>
      <if test="mark != null and mark!=''">
        mark,
      </if>
      <if test="isDone != null">
        is_done,
      </if>
      <if test="inserttime != null">
        inserttime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="isactive != null">
        isactive,
      </if>
    </trim>
    <trim prefix=" values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="extText != null and extText!=''">
        #{extText,jdbcType=VARCHAR},
      </if>
      <if test="mark != null and mark!=''">
        #{mark,jdbcType=VARCHAR},
      </if>
      <if test="isDone != null">
        #{isDone,jdbcType=BIT},
      </if>
      <if test="inserttime != null">
        #{inserttime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isactive != null">
        #{isactive,jdbcType=BIT},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.sdkbackendpr.entity.SdkDataLog">
    update tb_sdk_data_log
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="extText != null and extText!=''">
        ext_text = #{extText,jdbcType=VARCHAR},
      </if>
      <if test="mark != null and mark!=''">
        mark = #{mark,jdbcType=VARCHAR},
      </if>
      <if test="isDone != null">
        is_done = #{isDone,jdbcType=BIT},
      </if>
      <if test="inserttime != null">
        inserttime = #{inserttime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isactive != null">
        isactive = #{isactive,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectUndonePageSelective" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_sdk_data_log
    where
    is_done = 0
    and isactive = 1
    order by id desc
    LIMIT 100
  </select>

</mapper>